.background-container-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #b6faf9, #6ba9fe);
}

.background-container-menu.drawerOpen {
  width: 100%;
  height: 100%;
  /* Agrega otros estilos específicos cuando el cajón está abierto si es necesario */
}
#caja_contenido {
  flex: 1; /* El contenido principal ocupa el espacio restante */
  overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
}
.content-open {
  margin-left: 20%; /* El 50px representa el ancho del menú cuando está cerrado */
}

.content-closed {
  margin-left: 3%; /* Ajusta el margen izquierdo cuando el drawer está cerrado */
}
.background-container-menu .MuiListItemIcon-root {
  color: red;
}